@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700|Libre+Baskerville');

/* ===== COLOR REFERECES ======

Green: #79b044
Salmon: #dd5638
Blue Gray: #3e4249 

*/

/* ===== Google Font =======

font-family: 'Inconsolata', monospace;
font-family: 'Libre Baskerville', serif;

*/


/* -- LAYOUT CSS -- */

.section-header {
    text-align: center;
}

section {
    padding: 80px 0;
}

.icon-fa {
    text-align: center;
}

section h2 {
    padding: 20px 0 40px;
}

section h3 {
    padding: 30px 0 10px;
    text-align: center;
}

#primary {
    padding-top: 40px;
    padding-bottom: 40px
}

.feature-image {
    display: table;
    width: 100%;
}

.feature-image-default {
    background: url('../img/stuff-feature.jpg') no-repeat;
    background-size: cover;
}

.feature-image-default-alt {
    background: url('../img/hipster-stuff.jpg') no-repeat;
    background-size: cover;
}

.feature-image h1 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: white;
}



/* -- GENERAL CSS -- */

body {
    margin-top: 50px;
    font-family: 'Inconsolata', 'Libre Baskerville', monospace, serif;
    font-size: 16px;
    background: url('../img/tile.jpg') top left repeat;
}


/* -- GLOBAL CSS -- */

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-weight: bold;
}

h1 {
    font-size: 3em;
}

h1,
h2 {
    margin: 0 0 40px;
}

h3 {
    margin: 0 0 20px;
}

h4 {
    font-size: 18px;
}

button,
input,
.btn,
a.btn {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    color: white;
    border-radius: 2px; 
}

.btn {
    font-weight: bold;
}

.btn-danger {
    background-color: #dd5638;
    border-collapse: #d95131;
}


/* -- HERO CSS -- */

#hero {
    background: url('../img/hero-bg.jpg') 50% 0 repeat fixed;
    min-height: 500px;
    padding: 40px 0;
    color: white;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

#hero article {
    width: 100%;
    text-align: center;
}

#hero .hero-text {
    margin-top: 30px;
}

#service-offers {
    margin: 30px 0 60px;
    text-align: center;
}


/* -- SERVICES CSS -- */
#service-offers .price {
    display: inline-block;
    margin: 0 2% 0 0;
    width: 30%;
    background: #3e4249;
    padding: 10px 20px 30px;
    position: relative;
    vertical-align: top;
}

#service-offers h4 {
    margin: 0 0 10px;
}

#service-offers small {
    color: white;
    font-weight: bold;
    display: block
}

#service-offers .price.active {
    background: #dd5638;
}

#service-offers .price span {
    background: #101010;
    display: block;
    height: 70px;
    width: 70px;
    text-align: center;
    line-height: 70px;
    font-weight: bold;
    font-size: 24px;
    position: absolute;
    bottom: -35px;
    left: 50%;
    margin-left: -35px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
}

/* -- SUBSCRIBE CSS -- */

#optin {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    background: #3e4249;
    padding: 20px 0;
    color: white;
    font-size: 1.2em;
}

#optin p {
    margin: 7px 0 0 0;
    display: inline-block;
}

/* -- BOOST PRESENCE LAYOUT -- */

#boost-presence {
    background: white;
}

/* -- MODAL CSS -- */

/* -- FOOTER DIVIDER -- */
.divider{
    border-right:1px solid lightgray;
    border-left:1px solid lightgray;
    border-top:1px solid lightgray;
    padding-top: 10px;
}

.top-divider{
    border-top:1px solid lightgray;
    padding-top: 10px;
}

footer {
    text-align: center;
}

/* -- BLOG STYLES --*/

.post, 
.widget,
#comments {
    position: relative;
    border: solid 1px #ddd;
    background: white;
    margin: 0 0 40px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}

.post header,
.post .post-excerpt,
.post .post-body,
#comments .comments-wrap {
    padding: 20px;
}

.post .post-excerpt {
    font-family: 'Libre Baskerville', monospace, serif; 
    font-size: 12px;
}


.post header h1,
.post header h3 {
    margin: 0 0 15px;
    padding: 0 0 15px;
    border-bottom: solid 1px #ddd;
}

.post header h1 {
    font-size: 24px;
}

.post-image {
    height: auto;
}

.post-details {
    font-size: 12px;
    width: 90%;
}

.post-details i.fa {
    padding-left: 10px;
}

.post-details i.fa:first-child {
    padding: 0;

}

/* -- POST Comment Bubble --*/

.post-comments-badge {
    height: 70px;
    width: 70px;
    position: absolute;
    top: 25px;
    right: 20px;
    border: none;
    border-radius: 100%;
    background: #79b044;
    text-align: center;
    display: table;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
}

.post-comments-badge a {
    display: table-cell;
    vertical-align: middle;
    color: white;
    font-size: 20px;
    line-height: 20px;
}

.post-comments-badge i.fa {
    display: block;
    font-size: 15px;
    padding: 0;
    margin-bottom: 4px;
}

.post-comments-badge:hover {
    background-color: #8bc653;
}

#comments h3 {
    text-align: center;
}

#comments h4 {
    font-size: 1.3em;
}

#comments ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

#comments ol li {
    background: rgba(0,0,0,0.02);
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 2px;
    border: solid 1px rgba(0,0,0,0,0.03);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}

#comments ol li ol.children {
    padding: 0;
    list-style: none;
    font-size: 0.96;
}

#leave-comment {
    margin: 40px 0 0;
    padding: 20px 0 0;
    border-top: solid 1px #eee;
}

/* -- END POST Comment Bubble --*/

/* -- SIDE BAR WIDGETS --*/

.widget {
    padding: 20px;
}

.widget h4 {
    margin: 0 0 10px;
    padding: 0 0 10px;
    border-bottom: solid 1px #ddd;
}

.widget ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.widget ul li {
    margin: 0 0 5px;
}

.widget ul li:hover {
    position: relative;
    left: 1px;
}


/* -- FORMS --*/

label {
    display: block;
    font-weight: bodl;

}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
    display: block;
    color: #666;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    -webkit-border-radius: 2px;
    -moz-box-sizing: border-box;
    -moz-border-radius: 2px;
    width: 100%;
    padding: 6px 12px;
}


